In [1]:
# including the project directory to the notebook level
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
#importing modules
from dataprocess import dataprocessor as dp

In [3]:
# read the pickled file for energy model
ahudata = dp.readfile('../data/processed/ahu1energy.pkl')

# return pickled df
ahu = ahudata.return_df(processmethods=['file2df'])

In [5]:
# selecting only required columns and rearranging them
ahu = ahu[['AHU_1 outdoorAirTemp',
           'WeatherDataProfile humidity',
           'AHU_1 supplyAirTemp',
          'HW_BTU_METER currentKbtuDeltaReading',
          'CHW_BTU_METER currentKbtuDeltaReading']]

# renaming columns
ahu.columns = ['oat', 'orh', 'sat', 'hwe', 'cwe']

In [14]:
ahu['TotalE'] = ahu['hwe']+ahu['cwe']
ahu = ahu.drop(columns=['hwe', 'cwe'])

In [15]:
ahu.describe()

                 oat            orh            sat         TotalE
count  166375.000000  166375.000000  166375.000000  166375.000000
mean       61.957610      59.320534      69.896799      24.523445
std        17.481413      17.136129       6.189190      15.873589
min        15.798034      16.982016      51.554096       0.000000
25%        47.327717      46.000000      66.909103      11.119055
50%        62.016258      58.720158      71.834129      20.810382
75%        76.689804      73.000000      73.833794      37.871145
max        97.201401      96.000000      88.511330      93.723236